.stars{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 4px;
    height: 4px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.1), 0 0 0 8px rgba(255, 255, 255, 0.1), 0 0 20px rgba(255, 255, 255, 1)  ;
    animation:  animate 1.5s linear infinite;
}
.stars::before{
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 300px;
    height: 1px;
    background: linear-gradient(90deg, #fff, transparent);
}
.stars:nth-child(1){
    top: 0px;
    right: 200px;
    left:initial;
    animation-delay: 0.1s;
    animation-duration: 2s;
}
.stars:nth-child(2){
    top: 0px;
    right: 100px;
    left:initial;
    animation-delay: 0.6s;
    animation-duration: 3s;
}
.stars:nth-child(3){
    top: 0px;
    right: 250px;
    left:initial;
    animation-delay: 1.2s ;
    animation-duration: 2s;
}
.stars:nth-child(4){
    top: 0;
    right: 380px;
    left:initial;
    animation-delay: 0.8s;
    animation-duration: 1.5s;
}
.stars:nth-child(5){
    top: 0;
    right: 530px;
    left:initial;
    animation-delay: 0.4s;
    animation-duration: 1.5s;
}
.stars:nth-child(6){
    top: 0;
    right: 580px;
    left:initial;
    animation-delay: 1s;
    animation-duration: 3s;
}
.stars:nth-child(7){
    top: 0px;
    right: 700px;
    left:initial;
    animation-delay: 0.2s ;
    animation-duration: 1.75s;
}