.star::before {
  content: "";
  position: absolute;
  width: 300px;
  height: 2px;
  border-radius: 1in 50% 50% 1in;
  background: linear-gradient(90deg, #fff, #0000);
  top: 50%;
  left: 50%;
  transform: translate(0, -50%);
}
.star {
  position: absolute;
  top: 10px;
  right: 300px;
  width: 10px;
  height: 10px;
  background: radial-gradient(#fff, #0000);
  border-radius: 50%;
  animation: star 1.3s linear 1;
}
.star:nth-child(2) {
  top: 50px;
  animation-duration: 3s;
}
.star:nth-child(3) {
  top: 110px;
  animation-duration: 1s;
}
.star:nth-child(4) {
  top: 150px;
  animation-duration: 2.6s;
}
.star:nth-child(5) {
  top: 220px;
  animation-duration: 1.5s;
}

@keyframes star {
  0% {
    transform: rotate(-20deg) translateX(0);
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: rotate(-20deg) translateX(-60vh);
    opacity: 0;
  }
}
