.star,
.plasma,
.haze {
  position: absolute;
  width: 300px;
  border-radius: 1in 50%50% 1in;
}
.star,
.plasma {
  top: 50%;
  transform: translate(4px, -50%);
}
.star {
  height: 2px;
  background: linear-gradient(90deg, #fff, #0000);
}
.plasma {
  height: 10px;
  background: linear-gradient(90deg, #ffffff24, #0000);
}
.haze {
  right: 8px;
  height: 16px;
  background: linear-gradient(90deg, #ffffff12, #0000);
  animation: falling-star linear infinite;
}
@media screen and (max-width: 500px) {
  .star,
  .plasma,
  .haze {
    width: 150px;
  }
}
@keyframes falling-star {
  0% {
    transform: rotate(-20deg) translateX(0);
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: rotate(-20deg) translateX(-60vh);
    opacity: 0;
  }
}
