* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: "Spaced";
    src: url('./fonts/Spaced\ OTF.otf') format('opentype'),
         url('./fonts/Spaced\ TTF.ttf') format('truetype');
}
body {
    display: flex;
    flex-direction: column;
    background-image: url(./img/bg0.jpg);
    background-size: cover;
    background-attachment: fixed;
    font-family: Spaced;
    font-size: 1.4rem;
    color: white;
    padding: 1rem 2rem;
    height: 100vh;
}
@media (max-width: 40rem) {
    body {
      padding: 0;
    }
}
a:link, a:visited {
    color: white;
    padding: 20px 30px;
    text-align: center;
    display: inline-block;
    text-underline-offset: 5px;
}
a:hover, a:active {
    color: blueviolet;
    background-color: white;
}
.box {
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px rgb(255, 255, 255) solid;
    border-radius: 20px;
    box-shadow: 10px 10px 30px #000;
    margin: 30px;
    color: #000;
}
.box a {
    color: #000;
    border-radius: 20px;
}
.box a:hover {
    color: white;
    background: linear-gradient(-60.76deg, rgba(0, 0, 255, 0.8), rgba(255, 0, 179, 0.8), rgba(255, 0, 0, 0.8));
}
.box div {
    margin-top: 15px;
}
.text-center {
    text-align: center;
}
.text-large {
    font-size: 2rem;
}
.sans-serif {
    font-family: sans-serif;
}
.margin {
    margin: 5vh 0;
}
#links {
    display: flex;
    flex-wrap: wrap;
}
#home,
#contact {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 15rem;
    justify-content: space-evenly;
}
#ootw{
    font-size: 3rem;
}
#hello{
    font-size: 2rem;
    animation: fadeIn 5s;
}
#welcome{
    font-size: 1.5rem;
    padding-top: 2vh;
    animation: fadeIn 10s;
}
#about,
#projects {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}
#about > span {
    max-width: 25rem;
    padding: 1rem;
    text-align: justify;
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}