body {
    background: url(./img/bg0.jpg);
    background-size: cover;
    font-size: 20px;
    padding: 10px 30px;
    font-family: sans-serif;
}
a:link, a:visited {
    color: white;
    padding: 20px 30px;
    text-align: center;
    display: inline-block;
    text-underline-offset: 5px;
    font-family: Spaced;
}
a:hover, a:active {
    color: blueviolet;
    background-color: white;
}
.flex-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border: 1px white solid;
    position: relative;
    margin: 0px auto 0px auto;
    padding: 10px;
    font-family: sans-serif;
}
.flex-container > span {
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px white solid;
    border-radius: 20px;
    width: min-content;
    box-shadow: 4px 10px 50px #000;
    padding: 10px;
    margin: 30px
}
#about {
    flex-wrap: nowrap;
    height: 90vh;
}
#about > span {
    width: fit-content;
}
@font-face {
    font-family: "Spaced";
    src: url('./fonts/Spaced\ OTF.otf') format('opentype'),
         url('./fonts/Spaced\ TTF.ttf') format('truetype');
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
@keyframes animate {
    0%
    {
        transform: rotate(315deg) translateX(0);
        opacity: 1;
    }
    70%
    {
        opacity: 1;

    }
    100%
    {
        transform: rotate(315deg) translateX(-100vh);
        opacity: 0;
    }
    
}
.grid-container {
    display: grid;
    width: auto;
    height: 100vh;
    grid-template-rows: 1fr 5fr 2fr 1fr 2fr;
    text-align: center;
    align-items: center;
    font-family: Spaced;
    color: white;
}
.grid-container > div{
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px white solid;
}
#links{
    grid-column: 1;
    grid-row: 1;
    width: max-content;
}
#ootw{
    grid-column: 1;
    grid-row: 2;
    font-size: 60px;
}
#hello{
    grid-column: 1;
    grid-row: 3;
    font-size: 40px;
    animation: fadeIn 5s;
}
#welcome{
    grid-column: 1;
    grid-row: 4;
    font-size: 30px;
    padding: 1vh;
    animation: fadeIn 10s;
}